# 编译输出
/dist
/node_modules

# 日志
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# 操作系统文件
.DS_Store

# 测试
/coverage
/.nyc_output

# IDE
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# 环境变量
.env
.env.local
.env.*.local

# 临时文件
*.tmp
*.temp
.tmp
.temp
/generated/prisma
